<footer class="bg-light text-muted text-center py-2 small">
    <div class="container">
        © 2025 MetroMan 
        <a href="https://beian.miit.gov.cn/" class="text-muted text-decoration-none" target="_blank" rel="noopener noreferrer">
            京ICP备17009405号-1
        </a>
    </div>
</footer>
