
@{
    ViewBag.Title = "MetroMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Shanghai Metro Map</h1>
<img src="~/assets/img/metro/map/routemap_sh_en.png" class="img-fluid d-block mx-auto" alt="Shanghai Metro Map">

