
@{
    ViewBag.Title = "PlanningMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Shanghai Metro Planning Map</h1>
<img src="~/assets/img/metro/plan/plan_sh_cn.png" class="img-fluid d-block mx-auto" alt="Shanghai Metro Map">

